/project/FreeleServer/nbproject/private/
/project/FreeleClient/nbproject/private/
/project/KjetilchatK/nbproject/private/
/project/KjetilchatS/nbproject/private/
/project/FreeleClient/build/
/project/FreeleServer/build/
/project/FreeleClient/dist/
/project/FreeleServer/dist/